<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/route-details.css">
    <title>Detalles de Sucursal <%= sucursal %></title>
</head>
<body>
    <h2>Detalles de la Sucursal <%= sucursal %> en la Hoja de Ruta ID: <%= routeSheetId %></h2>

    <table border="1">
        <tr>
            <th>Código Escaneado</th>
        </tr>
        <% routeSheetDetails.forEach(detail => { %>
        <tr>
            <td><%= detail.codigo %></td>
        </tr>
        <% }); %>
    </table>

    <a href="/route-general/<%= routeSheetId %>">Volver al resumen general</a>
</body>
</html>
